/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* DASHBOARD */
.bruxo {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #611309;
}

.bruxo h1 {
  color: #C09A42;
}

.bruxo .btn-nav-white {
  width: 40%;
  background-color: #C09A42;
  border: 3px solid #C09A43;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.bruxo .btn-nav-white h3 {
  color: white;
  padding: 0;
  margin: 0;
}

.bruxo .hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bruxo .hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

*/ .bruxo .hello h3 span {
  font-weight: 800;
}

.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #C09A42;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

.principal-caixa {
    border: 1px solid red;
    display: flex;
}

.janela {
  background-image: url(../assets/expresso.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  background-color: #161618;
  height: 100vh;
  overflow: auto;
}

.janela .titulo {
  padding: 20px;
  color: #EEE1FF;
  font-size: 30px;
  text-shadow: 2px 3px 2px #000;
  margin: 0%;
}

.janela .kpi {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  width: 300px;
  height: auto;
  flex-direction: row;
  gap: 40px;
  margin-top: 0;
  justify-content: center;
  flex-wrap: nowrap;
}

/* CARDS */

.janela-quiz {
  background-image: url(../assets/expresso.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  position: relative;
  left: 20%;
  background-color: #161618;
  height: 100vh;
  overflow: auto;
}

.janela-quiz .header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #212124;
}

.janela-quiz .titulo {
  padding: 20px;
  color: #EEE1FF;
  font-size: 30px;
  text-shadow: 2px 3px 2px #000;
  margin: 0%;
}

.grafico-idade {
  background-color: #000000;
  width: 600px;
  height: 300px;
  margin-left: 20px;
}

.grafico-animais {
  background-color: #000000;
  width: 600px;
  height: 300px;
  margin-left: 20px;
  margin-top: 20px;
}