@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ultra&display=swap');

html {
  max-width: 100vw;
  /*tamanho vertical do monitor*/
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /*contain: conter o espaço*/
  height: 100%;
}

body {
  margin: 0;
  /*definir a margem*/
  overflow-x: hidden;
  width: 100%;
  height: auto;
  justify-content: center;
}

.body-login {
  margin: 0;
  /*definir a margem*/
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
}

header {
  display: flex;
  /*Deixar flexivel*/
  background-color: #13110E;
  align-items: center;
  /*alinhar intens, horizontal*/
  justify-content: space-between;
  /*1- mexe na estrutura de direção, 2- espaçamento e entre uma ponta e outra*/
  padding-left: 50px;
  /*espaçamento dentro do elemento esquerdo*/
  padding-right: 50px;
  /*espaçamento dentro do elemento direito*/
}

header .titulo-cabecalho {
  /*ponto serve para referenciar a class*/
  color: #C09A42;
  /*muda a cor da fonte */
}

nav {
  display: flex;
  gap: 15px;
  /*espaçamento para elementos e só funciona com display flex*/
}

nav a {
  color: white;
  text-decoration: none;
  /*tira toda a decoração do texto*/
}

/*aqui começa a sessão da imagem de fundo*/

.imagem-de-fundo {
  background: url(../assets/salao.png);
  background-size: 100%;
  width: 100%;
  /*largura*/
  height: 50vw;
  /*altura*/
  display: flex;
  color: white;
  font-size: 6vh;
  /*tamanho da fonte | vh: pega tamanho por pixel da tela*/
  font-family: "Ultra", serif;
  /*familia da fonte*/
  letter-spacing: 5px;
  /*proximidade das letras*/
  align-items: center;
  /*horizontal*/
  justify-content: center;
}

.ceu-estrelado1 {
  background: url('../assets/ceu\ azul\ 1.png');
  background-size: 100%;
  width: 100%;
  /*largura*/
  height: auto;
  /*altura*/
  display: flex;
  color: white;
  font-size: 6vh;
  /*tamanho da fonte | vh: pega tamanho por pixel da tela*/
  letter-spacing: 5px;
  /*proximidade das letras*/
  align-items: center;
  /*horizontal*/
  flex-direction: column;
  /*coloca os elementos em um acoluna*/
  /* justify-content: center; */
  height: 100%;
}

.ceu-estrelado1 h2 {
  justify-content: center;
  text-align: center;
  font-family: "Ultra", serif;
  /*familia da fonte*/
}

.ceu-estrelado1 p {
  text-align: center;
  font-family: 'Horizon';
  /*familia da fonte*/
  font-size: 20px;
  width: 90%;
  height: fit-content;
  /*altura, altura suficiente para caber o que tem dentro*/
}

.ceu-estrelado1 img {
  max-width: 100%;
  /*largura máxima*/
}

.ceu-estrelado2 {
  background: url('../assets/ceu\ azul\ 1.png');
  background-size: 100%;
  width: 100%;
  /*largura*/
  height: auto;
  /*altura*/
  display: flex;
  color: white;
  font-size: 6vh;
  /*tamanho da fonte | vh: pega tamanho por pixel da tela*/
  letter-spacing: 5px;
  /*proximidade das letras*/
  align-items: center;
  /*horizontal*/
  flex-direction: column;
  /*coloca os elementos em um acoluna*/
  /* justify-content: center; */
  height: 100%;
}

.ceu-estrelado2 h2 {
  justify-content: center;
  text-align: center;
  font-family: "Ultra", serif;
  /*familia da fonte*/
}

.ceu-estrelado2 p {
  text-align: center;
  font-family: 'Horizon';
  /*familia da fonte*/
  font-size: 20px;
  width: 90%;
  height: fit-content;
  /*altura, altura suficiente para caber o que tem dentro*/
}

#imgLivros {
  height: 60vh;
}

#imgFilme {
  height: 60vh;
  width: 70vh;
  margin: auto;
}

#imgOrdem {
  width: 100%;
}

/* FOOTER */

footer {
  background-color: #13110E;
  color: white;
  height: 10vh;
  padding-top: 2vh;
  padding-left: 2vh;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background: url(../assets/sala\ hogwarts.webp);
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 50%;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.login .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #0D0022; 
  display: flex;
  max-width: 350px;
  width: 300px; 
  border-radius: 10px; 
  justify-content: center; 
  align-items: center; 
  color: #EEE1FF; 
  flex-direction: column; 
  padding: 30px 225px;
}

.centralizar {
  justify-content: center;
  display: flex;
  
}

.card h2 {
  margin: 0;
  font-size: 30px;
  text-align: center;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  text-align: center;
  border-radius: 10px;
  margin: 0;  
  width: 480px;
}

.formulario select {
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
  width: 520px;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
  align-items: center;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #C09A42;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* CASAS */

.escada {
  background: url(../assets/escada\ mexem.JPG) no-repeat;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 40px;
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px 20px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}