.login {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    background-color: #611309;
    width: 420px;
    height: 290px;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    border-radius: 10%;
    margin: 50px;
}

.login-titulo h3 {
    display: flex;
    font-size: 30px;
    color: #DAa520;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
}

.container-login {
    display: flex;
    justify-content: center;
    height: 110px;
}

.campo span {
    color: #DAa520;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.login-entrar input {
    display: flex;
    justify-content: center;
    height: 25px;
    width: 300px;
    border-radius: 30px;
}

.botao-entrar button {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 5px;
    width: 60px;
    margin: 0 auto;
}

.loading-div img{
    display: none;
    justify-content: center;
    flex-direction: column;
}

.alerta_erro {
    display: flex;
    justify-content: center;
}

.card_erro {
    display: flex;
    flex-direction: column;
}