@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

a{
    text-decoration: none;
    color: inherit;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
    font-size: 26px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-boFx;
    background-color: #f8f8f6;
    font-family: "Instrument Serif", serif;
}

header {
    background-color: #611309;
    color: #DAA520;
    height: 100px;
    font-size: 40px;
    margin: 0;
    border-bottom: #DAa520 solid 3px;
}

.divHeader {
    background-color: #611309;
    color: #DAa520;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    /* gap: 950px;
    margin-left: 20px;
    margin-right: 20px; */
}

.divEdquerda {
    display: flex;
    font-size: 20px;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.divDireita {
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 20px;
}

#imgLogo {
    width: 80px;
    display: flex;
    align-self: start;
    margin-left: 30px;
}

/* Estilos para a seção dos fundadores e brasão */

.divContainerFundHogwarts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    align-items: center;
    margin-top: -30px;
}

.divFundadores {
    display: flex;
    width: 40%;
    margin: 5%;
    flex-direction: column;
    color: #611309;
}

.divTituloFundadores {
    font-size: 24px;
}

.divTextoFundadores {
    font-size: 20px;
}

.divBrasao {
    display: flex;
    width: 22%;
    justify-content: center;
    margin: 5%;
    flex-direction: column;
    margin-top: 100px;
    color: #611309;
}

.divLivrosIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divMensagemLivro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    background-color: #DAa520;
    width: 15%;
    border-radius: 10px;
}

#imgArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-top: 10px;
}

/* Escritora */

.divContainerEscritora {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    align-items: center;
    margin-top: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 50px;
    background-color: #611309;
}

.divEscritora {
    display: flex;
    width: 90%;
    margin-right: 5%;
    flex-direction: column;
    color: #DAa520;
}

.divTituloEscritora {
    font-size: 24px;
}

.divTextoEscritora {
    font-size: 20px;
}

#imgEscritora {
    width: 80%;
    margin-left: 15%;
    margin-top: 5%;
}

/* Filmes */

.divContainerFilmes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    align-items: center;
    margin-top: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 50px;
}

.divFilmes {
    display: flex;
    width: 100%;
    margin-left: 5%;
    flex-direction: column;
    color: #611309;
    margin-right: 4%;
}

.divTituloFilmes {
    font-size: 24px;
}

.divTextoFilmes {
    font-size: 20px;
}

#imgFilmes {
    width: 100%;
    margin-right: 15%;
    margin-top: 5%;
}

/* Footer */

.divFooter {
    background-color: #611309;
    color: #DAa520;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    height: 150px;
    font-size: 20px;
    gap: 10px;
    border-top: #DAa520 solid 3px;
}

.divAux1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 22px;
    padding-right: 100px;
    border-right: #DAa520 solid 2px;
}

.divAux2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.divAux3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 22px;
    padding-right: 100px;
}

#imgLogoFooter {
    width: 100px;
    margin-right: -70px;
}