@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Barlow:wght@300;400;600&display=swap');

body {
    background-image: url(../assets/expresso.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f1e6c9;
    font-family: "Barlow", sans-serif;
    margin: 0;
    padding: 0;
}

/* Container geral */
#pontuacaoEJogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

/* Botão inicial */
#btnIniciarQuiz {
    font-size: 22px;
    padding: 10px 30px;
    background-color: #3b1e54;
    color: #f7e7c2;
    border: 2px solid #c3a16b;
    border-radius: 12px;
    font-family: "Cinzel", serif;
}

#btnIniciarQuiz:hover {
    background-color: #5a2d80;
}

#pontuacao, #jogo {
    background: rgba(20, 12, 31, 0.8);
    border: 2px solid #c6a56c;
    box-shadow: 0 0 15px #ad8b4b;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    width: 500px;
    /* height: 50px; */
}

.text-bold {
    font-weight: bold;
    font-size: 20px;
    font-family: "Cinzel", serif;
}

#opcoes span {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 6px 0;
}

.option {
    margin-left: 10px;
    padding: 8px;
    border-radius: 8px;
    display: inline-block;
}

.text-success-with-bg {
    background-color: rgba(0, 150, 40, 0.25);
    border: 1px solid #2aff71;
    padding: 3px;
}

.text-danger-with-bg {
    background-color: rgba(150, 0, 0, 0.25);
    border: 1px solid #ff4d4d;
    padding: 5px;
}

.text-warning-with-bg {
    background-color: rgba(255, 165, 0, 0.25);
    border: 1px solid #ffde7a;
    padding: 5px;
}

/* botões */

.botoes-quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#botoes button {
    background: #3e275c;
    color: #f3e1c8;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    width: 90%;
    border: 2px solid #c3a16b;
    border-radius: 10px;
    font-family: "Cinzel", serif;
}

#botoes button:hover:enabled {
    background: #573685;
}

#jogo {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 600px; 
}

#pontuacao {
    animation: brilhoMagico 5s infinite alternate-reverse;
}
